[submodule "PathExtra"]
	path = PathExtra
	url = https://tkurita@github.com/tkurita/PathExtra.git
[submodule "PaletteWindowController"]
	path = PaletteWindowController
	url = https://tkurita@github.com/tkurita/PaletteWindowController.git
[submodule "DonationReminder"]
	path = DonationReminder
	url = https://tkurita@github.com/tkurita/DonationReminder.git
[submodule "LibraryScripts/GUIScriptingChecker.scptd"]
	path = LibraryScripts/GUIScriptingChecker.scptd
	url = https://tkurita@github.com/tkurita/GUIScriptingChecker.scptd.git
[submodule "LibraryScripts/XText.scptd"]
	path = LibraryScripts/XText.scptd
	url = https://tkurita@github.com/tkurita/XText.scptd.git
[submodule "LibraryScripts/InsertionLocator.scptd"]
	path = LibraryScripts/InsertionLocator.scptd
	url = https://tkurita@github.com/tkurita/InsertionLocator.scptd.git
